img {
  display: block;
  max-height: 250px;
  max-width: 80%;
  margin: 0 auto;
}
ul.culture{
  text-align: center;
}
ul.main{
  list-style-type: none;
  text-align: center;
  margin: 20px 400px;
}
li.cult{
  display: inline;
  padding: 15px 0;
  font-weight: bold;
  margin: 0 20px;
}
li.main {
  display: inline;
  padding: 15px 0;
  font-weight: bold;
  margin: 0 20px;
  border-bottom: 1px solid #A5A7A9;
}
h2{
  margin: 40px auto;
  padding-bottom: 0;
  font-size: 44px;
  line-height: 1.09;
  text-align: center;
}
