<h2>Culture</h2>
<div>
  <ul class="culture">
    <li class="cult">CULTURAL COMMENT</li>
    <li class="cult">THE CRITICS</li>
    <li class="cult">FOOD</li>
    <li class="cult">PHOTO BOOTH</li>
    <li class="cult">CROSSWORD</li>
  </ul>
</div>
<div>
  <ul class="main">
    <li class="main" *ngFor="let currentArticle of articles | async| categoryCulture">
  <img src={{currentArticle.url}} />
  <h2 (click)="goToDetailPage(currentArticle)">{{currentArticle.headline | uppercase }}</h2>
      <p>
        By {{currentArticle.author}}
      </p>
      <p>{{currentArticle.snippet}}</p>
    </li>
  </ul>
</div>
