.header{
  display: flex;
  justify-content: space-between;
}
img#tote{
  flex: 1 0 33%;
}
img#logo{
  display: block;
  max-width: 302px;
  max-height: 115px;
  /* height: 100%; */
  margin: 15px 250px;
  text-align: center;
  transition: all .5s;
  width: 100%;
  flex: 1 0 33%
}
.headerList{
  display: inline-block;
  padding-bottom: 5px;
  vertical-align: middle;
  margin-right: 23px;
  right: 0;
  top: 0;
  transition: all .5s;
  margin-top: 47px;
  flex: 1 0 33%;
}
.headerList li{
  margin-right: 20px;
  padding-top: 5px;
  font-size: 12px;
  font-weight: 500;
  font-family: Graphik Web,Helvetica Neue,Helvetica,Arial,sans-serif;

}
a img#tote:hover{
  border-bottom: none;
}
ul#nav{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  border-top: solid 1px #A5A7A9;
  border-bottom: solid 1px #A5A7A9;
}
li {
  display: inline;
  padding: 15px 0;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  border-bottom: 1px solid #000;
}
