<div class="header">
  <h1>New Yorker</h1>
</div>
<div class="politicsArticles">
  <ul>
    <li *ngFor="let currentArticle of articles">
  <img src={{currentArticle.url}} />
  <h2>{{currentArticle.headline | uppercase }}</h2>
      <p>
        By {{currentArticle.author}}
      </p>
      <p>{{currentArticle.snippet}}</p>
      <button ng-click="readMore = !readMore">Read more...</button>
      <p ng-show="readMore">
        jdfn;owebfowe
      </p>
    </li>
  </ul>
</div>


<!-- <router-outlet></router-outlet> -->
