<div class="header">
  <a routerLink=""><img id= "logo" src="./../assets/The-new-yorker-logo.jpg" alt="New Yorker logo" /></a>
</div>
<div>
  <ul id="nav">
    <li><a routerLink="news">News</a></li>
    <li><a routerLink="culture">Culture</a></li>
    <li><a href="#">Books</a></li>
    <li><a routerLink="subscribe">Subscribe</a></li>
  </ul>
</div>
<app-news [childNewsList]="articles" (clickSender)="readMore($event)"></app-news>
<app-show [childSelectedNews]="selectedArticle" (clickedDone)="finishedShowing()"></app-show>



<!-- <router-outlet></router-outlet> -->
