<div class="header">
  <a routerLink="subscribe"><img id="tote" src ="https://www.newyorker.com/images/CM/failsafe/cns/NYR_Header.png" /></a>
  <a routerLink=""><img id="logo" src="./../assets/The-new-yorker-logo.jpg" alt="New Yorker logo" /></a>
  <ul>
    <li>Shop</li>
    <li>Sign in</li>
    <li>Link Your subscription</li>
    <li><a href="#"><img src="https://www.flaticon.com/free-icon/magnifying-glass_49116" alt="Search Icon"></a></li>
  </ul>
</div>
<div>
  <ul id="nav">
    <li><a routerLink="politics">News</a></li>
    <li><a routerLink="culture">Culture</a></li>
    <li><a href="books">Books</a></li>
    <li><a routerLink="subscribe">Subscribe</a></li>
    <li>Business &amp; Tech </li>
    <li>Humor</li>
    <li>Cartoons</li>
    <li>Magazine</li>
    <li>Video</li>
    <li>Podcasts</li>
    <li>Archive</li>
    <li>Goings On</li>
    <li><a routerLink="subscribe">Subscribe</a></li>
  </ul>
</div>

<router-outlet></router-outlet>
