.container {
  display: flex;
  justify-content: flex-end;
}
#news {
  border-left: 1px solid #A5A7A9;
  border-right: 1px solid #A5A7A9;
  max-width: 450px;
}
img {
  max-height: 250px;
  max-width: 300px;
}
ul {
  list-style-type: none;

}
li {
  text-align: center;
  margin-top: 50px;
  border-bottom: 1px solid #A5A7A9;
}
