<div class="subAdd">
  <img src="./assets/eustace-medium.png" alt="Eustace">
  <p>
    Support <span class="italic">The New Yorker’s</span> award-winning journalism.
  </p>

</div>
<div class="container">
  <div>
    <ul class="main">
      <li class="content" *ngFor="let currentArticle of articles | async | categoryPolitics">
    <img src={{currentArticle.url}} />
    <h2 (click)="goToDetailPage(currentArticle)">{{currentArticle.headline | uppercase }}</h2>
        <p>
          By {{currentArticle.author}}
        </p>
        <p>{{currentArticle.snippet}}</p>

      </li>
    </ul>
  </div>
  <div id="sidebar">
    <h3>News &amp; Culture</h3>
    <ul class="sidebar">
      <li *ngFor="let currentArticle of articles | async | categoryCulture">
    <img src={{currentArticle.url}} />
    <h2 (click)="goToDetailPage(currentArticle)">{{currentArticle.headline | uppercase }}</h2>
        <p>
          By {{currentArticle.author}}
        </p>
        <p>{{currentArticle.snippet}}</p>
      </li>
    </ul>
  </div>
</div>
