<div class="container">
  <div>
    <ul>
      <li *ngFor="let currentArticle of articles | async | categoryPolitics">
    <img src={{currentArticle.url}} />
    <h2>{{currentArticle.headline | uppercase }}</h2>
        <p>
          By {{currentArticle.author}}
        </p>
        <p>{{currentArticle.snippet}}</p>
        <button>Read more...</button>
      </li>
    </ul>
  </div>
  <!-- <div id="news" class="politicsArticles">
   <h3>News and Politics</h3>
    <ul>
      <li *ngFor="let currentArticle of articles | async">
    <img src={{currentArticle.url}} />
    <h2>{{currentArticle.headline | uppercase }}</h2>
        <p>
          By {{currentArticle.author}}
        </p>
        <p>{{currentArticle.snippet}}</p>
        <button>Read more</button>
      </li>
    </ul>
  </div> -->
  <div id="sidebar">
    <h3>News &amp; Culture</h3>
    <ul>
      <li *ngFor="let currentArticle of articles | async | categoryCulture">
    <img src={{currentArticle.url}} />
    <h2>{{currentArticle.headline | uppercase }}</h2>
        <p>
          By {{currentArticle.author}}
        </p>
        <p>{{currentArticle.snippet}}</p>
        <button>Read more...</button>
      </li>
    </ul>
  </div>
</div>
<div id="subscribe">
  <form>

  </form>
</div>
