<div class="container">
  <div id="culture">
    <h3>Culture</h3>
    <ul>
      <li *ngFor="let currentArticle of childNewsList | category">
    <img src={{currentArticle.url}} />
    <h2>{{currentArticle.headline | uppercase }}</h2>
        <p>
          By {{currentArticle.author}}
        </p>
        <p>{{currentArticle.snippet}}</p>
        <button (click)="readMoreButtonClicked(currentArticle)">Read more...</button>
      </li>
    </ul>
  </div>
  <div id="news" class="politicsArticles">
   <h3>News & Politics</h3>
    <ul>
      <li *ngFor="let currentArticle of childNewsList | news">
    <img src={{currentArticle.url}} />
    <h2>{{currentArticle.headline | uppercase }}</h2>
        <p>
          By {{currentArticle.author}}
        </p>
        <p>{{currentArticle.snippet}}</p>
        <button (click)="readMoreButtonClicked(currentArticle)">Read more...</button>
      </li>
    </ul>
  </div>
  <div id="books">
    <h3>Book Reviews</h3>
    <ul>
      <li *ngFor="let currentArticle of childNewsList">
    <img src={{currentArticle.url}} />
    <h2>{{currentArticle.headline | uppercase }}</h2>
        <p>
          By {{currentArticle.author}}
        </p>
        <p>{{currentArticle.snippet}}</p>
        <button  (click)="readMoreButtonClicked(currentArticle)">Read more...</button>
      </li>
    </ul>
  </div>
</div>
<div id="subscribe">
  <form>

  </form>
</div>
