input {
  display:block;
  height: 50px;
  width: 190px;
  font-size: 16px;
  margin-left: 15px;
}
#headerPlan{
  border-bottom: 2px solid #A6A6A6;
  height: 70px;
  display: block;
}
#headerPlan span{
  color: #df3331;
}
h2{
  font-size: 38px;
  text-align: center;
  display: block;
}
#subscribeOptions{
display: flex;
color: #333;
font-size: 18px;
letter-spacing: -0.25px;
line-height: 24px;
justify-content: center;
text-align: center;
clear: both;
margin-left: 0;
}
.subscribeOffer, button{
  background-color: #df3331;
  color: #fff;
  letter-spacing: 0;
  margin-bottom: 16px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 55px;
  width: 261px;
  height: 55px;
  margin: 13px auto 15px;
  position: relative;
  cursor: pointer;
  outline: none;
  text-align: center;
}
#print{
  padding-left: 40px;
  padding-right: 66px;
  width: 271px;
  margin-bottom: 40px;
}
#enterInfo{
  font-size: 24px;
  display: block;
  padding-right: 25px;
}
#middleImage{
  display: flex;
  justify-content: center;
}
.userInfo{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 740px;
  border-bottom: 2px solid #A6A6A6;
  padding-bottom: 50px;
}
p{
  margin: 10px 50px 10px 60px;
}
